body {
    background-color: darkslategrey;
    color: azure;
    font-size: 1.1em;
    text-align: center;
}
h1 {
    color: coral;
}
#intro {
    color: cornsilk;
    text-align: center;
}
.colorful {
    color: orange;
    font-size: 1.3em;
    text-align: center;
}
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    width: 200px;
    background-color: #f1f1f1;
  }
  
  li a {
    display: block;
    color: #000;
    padding: 8px 16px;
    text-decoration: none;
  }
  
  /* Change the link color on hover */
  li a:hover {
    background-color: #555;
    color: white;
  }